<div class="container px-5 px-sm-0">
  <div class="row">
     <div class="col-md-3">
      <!--%= render 'genre_search',genres:@genres%-->
     </div>
    <div class="col-md-8.offset-md-1">
      <h1 class="item-title">
        <!--% if params[:genre_id] %--><!--genresが解放されたらコメントアウトを解く-->
          <!--%= @genre.name %-->
        <!--% else %-->
          商品一覧ver2
        <!--% end %-->


    </div>
  </div>
</div>