<div class="container">
  <div class="row">
    <div class="col-md-12 my-3 text-center">

      <div class="row">
        <div class="col-md-10 mx-auto">
          <h1 class="headline">About</h1>
          <br>
          <h4>ながのCAKEは全国発送可能なケーキ屋さんです。</h4>
          <h4>お子様からお年寄りの方までお召し上がりいただけるよう、</h4>
          <h4>さまざまなバリエーションをご用意しております。</h4>
          <h4>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h4>
          <h4>ぜひご注文ください。</h4>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-10 mx-auto">
          <%= image_tag "about.jpg",width: "60%", height: "90%" %>
        </div>
      </div>

    </div>
  </div>
</div>