<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto my-3">
      <div class="main-visual">
        <div class="main-visual-content">
          <p class="main-visual-text">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 mx-auto mb-3">
      <h3>新着商品</h3>
      <div class="row">
        <div class="col">
          <p>仮　商品1　画像</p>
          <p>仮　商品1　商品名</p>
          <p>仮　商品1　値段</p>
        </div>
        <div class="col">
          <p>仮　商品2　画像</p>
          <p>仮　商品2　商品名</p>
          <p>仮　商品2　値段</p>
        </div>
        <div class="col">
          <p>仮　商品3　画像</p>
          <p>仮　商品3　商品名</p>
          <p>仮　商品3　値段</p>
        </div>
        <div class="col">
          <p>仮　商品4　画像</p>
          <p>仮　商品4　商品名</p>
          <p>仮　商品4　値段</p>
        </div>
      </div>
    </div>
  </div>
</div>