<table class="genres_search">
  <thead>
    <tr>
      <th><h2>ジャンル検索</h2></th>
  </tr>
</thead>
<tbody>
    <% genres.each do |genre| %>
    <tr>
      <% if genre.is_saled == true %>
      <td>
        <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-dark" %>
      </td>                    <%# items_pathに引数としてgenre_idを渡す %>
      <% end %>
    </tr>
    <% end %>
</tbody>

