// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.1 {
  display: flex;
}

.btn:hover {
 opacity: 0.7;
}
.pp {
 margin: 20px;
}

.empty{
 margin-top: 30px;
}

.empty2{
 margin-top: 20px;
}

.btn_position{
 margin-left: 145px;
}

input[type="number"] {
  width: 90px;
  height: 35px;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #f0ffff;
  color: #000000;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
  border-bottom: solid 3px #f0ffff;
  transition: .4s;
   border: none;
}

.item_name_link {
 color: #f0ffff;
}