// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.1 {
  display: flex;
}

.btn {
 background: blue;
 color: #ffffff;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 text-align: center;
 line-height: 100px;
 overflow: hidden;
}
 
.btn:hover {
 opacity: 0.7;
}